<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="sidebar" aria-hidden="false" class="sidebar"  th:fragment="sidebar">

        <div class="sidebar-section">
            <div class="sidebar-heading">Home</div>
            <ul class="sidebar-submenu"  th:classappend="${section.startsWith('/home')} ? 'active' ">
                <li>
                    <a  th:href="@{/}">Home</a>
                </li>
            </ul>
        </div>

        <div class="sidebar-section">
            <div class="sidebar-heading">Settings</div>
            <ul class="sidebar-submenu" th:classappend="${section.startsWith('/settings')} ? 'active' ">
                <li>
                    <a  th:href="@{~/settings/indexes}">Search Indexes</a>
                </li>
                <li>
                    <a  th:href="@{~/settings/clients}">Download Clients</a>
                </li>
            </ul>
        </div>

	</div>
</html>

