/* CSS for elements inside the main content */

h2
{
	border-bottom: 2px solid #ccc;
	margin: 10px 0 0 20px;
	padding-bottom: 0.35em;
}

.grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-grow: 1;
}

.card
{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: var(--border-radius);
	box-shadow: 0 2px 6px rgba(0,0,0,0.06);

	margin: 20px;
	min-height: 160px;
}

.card:hover, .card:focus
{
	color:var(--highlight-color);
	background-color: var(--hover-color);
}

.card-icon
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
}

/* --- Toggle Switch Styles --- */
.toggle-switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.toggle-switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider
{
    background-color: var(--sub-color);
}

input:checked + .slider:before
{
    transform: translateX(26px);
}

.slider.round
{
    border-radius: 34px;
}

.slider.round:before
{
    border-radius: 50%;
}


@media screen and (max-width:768px)
{
	h2
	{
		margin: 0;
	}

	.grid
	{
		grid-template-columns: 1fr;
	}

	.card
    {
    	margin: 20px 0 0 0;
    }
}