/* CSS for elements inside the headers */

.brand
{
	margin: 0;
	padding: 0;
	width: var(--header-height);
	height: var(--header-height);
	display: flex;
	align-items: center;
	text-decoration: none;
}

.brand img
{
    max-width: 100%;
    max-height: 100%;
}

.burger
{
	padding-right:10px;
	cursor: pointer;
}
