/* CSS for elements inside the sidebar */

.sidebar
{
	margin: 0;
	padding: 0;
	width: 15%;
	border-right: 1px solid var(--border);
	transition: all 1s ease;
}

.sidebar.toggle
{
	transform: translateX(-100%);
	width: 0;
	height:0;
	display: none;
}

@media screen and (max-width:768px)
{
    .layout
    {
        flex-direction: column;
    }

	.sidebar
	{
		height: 100%;
		width: 100%;
		background-color: var(--bg-color);
		z-index: 1000;
		transform: translateY(-200%);
	}

	.sidebar.toggle
    {
    	transform: translateY(0);
    	display: block;
    }
}