/* CSS for all common elements and entire layout */

:root
{
	--main-color: #216044; /* Dark Green */
    --sub-color: #00a65b;  /* Light Green */
    --highlight-color: #353535; /* Main Black */
    --text-color: #e6f6ee;	/* Main White */

    --hover-color: #a1d99b; /* Very Light Green */
    --muted-color : #797979;  /* Grey White */

	--header-height:56px;
	--border-radius: 10px;
}

/* Page background */
html, body
{
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  background-color: var(--main-color);
	  color: var(--text-color);
	  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Header and footer */
header
{
	display: flex;
	margin: 0;
	padding: 0;
	top: 0;
	justify-content: space-between;
    align-items: center;
	background-color: var(--sub-color);
	box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.3);
}

footer
{
	margin: 0;
	padding: 10px;
	background: transparent;
	box-shadow: 0 -10px 10px 0 rgb(0,0,0,0.2);
}

/* This contains sidebar and contents */
.layout
{
	display: flex;
	margin: 0;
	padding: 0;
}

/* Main content */
.content
{
	margin: 0;
	padding: 10px;
	flex-grow: 1;
}

/* Links and buttons */
a
{
	color: var(--text-color);
	text-decoration: none;
}

a:hover, a:focus
{
	color: var(--text-color);
}

.hide
{
    display:none !important;
}


table
{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td
{
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

thead tr
{
    background-color: var(--highlight-color);
}

tbody tr:hover
{
    background-color: var(--hover-color);
}

tbody tr:nth-child(odd)
{
    background-color: var(--sub-color);
}

td:nth-child(5),
td:nth-child(6)
{
    text-align: right;
}

nav
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li
{
    margin: 0 4px;
}

nav ul li a
{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li a:hover:not(.active)
{
    color: var(--text-color);
    background-color: var(--sub-color);
}


nav ul li.active a
{
    color: var(--text-color);
    background-color: var(--sub-color);
    border-color: var(--text-color);
    cursor: default;
}

nav ul li.disabled a
{
    color: var(--muted-color);
    background-color: var(--text-color);
    cursor: not-allowed;
    pointer-events: none;
    border-color: #ddd;
}