<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body  th:replace="~{layouts/layout :: base('Home')}">
		<div th:fragment="content">

			<label for="search">Title</label>
			<input id="search" placeholder="Enter title..."/>

			<label for="artist">Artist</label>
			<input id="artist" placeholder="Enter artist..."/>

			<label for="album">Album</label>
			<input id="album" placeholder="Enter album..."/>


			<label for="year">Year</label>
			<input id="year" placeholder="Enter year..."/>

			<button type="button" onclick="metadataSearch(this)">
				Metadata Search
			</button>

			<!-- Only for testing -->
			<br />
			<button type="button" onclick="interactiveSearch(this)">
				Test Search / Interactive Search and get search results
			</button>
			<br />
			<button type="button" onclick="triggerSearch(this)">
				Test Search / Manual trigger for searches in database
			</button>
			<!-- Only for testing -->


			<div id="searchResults">
			</div>
		</div>
	</body>
</html>
