<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body th:replace="~{layouts/layout :: base('Items')}">
		<div th:fragment="content">
			<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
			<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

			<div style="display: flex; align-items: center; justify-content: space-between;">
				<h2 th:text="${library.name}">Library Name</h2>
				<form th:action="@{'/library/metadata/' + ${library.id}}" method="post" style="padding: 0; margin: 0;">
					<button type="submit" class="button">Refresh Metadata</button>
				</form>
			</div>

			<div class="poster-grid">
				<a class="poster" th:each="library: ${libraries}" th:href="@{/library/{id}(id=${library.id})}">
					<div class="poster-image" th:style="|background-image: url('@{${@imageHelper.getPath(library.image)}}');|">
					</div>
					<div class="poster-details">
						<span class="poster-title" th:text="'📀 ' + ${library.name}">Folder Name</span>
					</div>
				</a>
			</div>

			<div class="poster-grid">
				<div class="poster" th:each="item: ${items}">
					<div class="poster-image" th:style="'background-image: url(' + @{/images/default.png} + ');'"></div>
					<div class="poster-details">
						<span class="poster-title"  th:text="'🎵 ' + ${item.name}">File Name</span>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
