<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body th:replace="~{layouts/layout :: base('Items')}">
		<div th:fragment="content">
			<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
			<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

			<div class="page-header">
				<h2 th:text="${library.name}">Library Name</h2>
				<div class="page-header-actions">
					<form class="search-form" th:action="@{/library/{id}(id=${library.id})}" method="get">
						<input type="hidden" name="sort" th:value="${sort}"/>
						<input type="text" name="search" id="library-search" class="search-input" placeholder="Search..." th:value="${search}" />
					</form>
					<select class="sort-select" onchange="window.location.href=this.value">
						<option th:value="${'/library/' + library.id + '?sort=name' + (search != '' ? '&search=' + search : '')}" th:selected="${sort == 'name'}">Sort: Alphabetical</option>
						<option th:value="${'/library/' + library.id + '?sort=directory' + (search != '' ? '&search=' + search : '')}" th:selected="${sort == 'directory'}">Sort: Directory</option>
					</select>
					<form th:action="@{'/library/metadata/' + ${library.id}}" method="post" class="inline-form">
						<button type="submit" class="button">Refresh Metadata</button>
					</form>
				</div>
			</div>

			<div class="poster-grid">
				<a class="poster" th:each="library: ${libraries}" th:href="@{/library/{id}(id=${library.id})}">
					<div class="poster-image" th:style="|background-image: url('@{${@imageHelper.getPath(library.image)}}');|">
					</div>
					<div class="poster-details">
						<span class="poster-title" th:text="'📀 ' + ${library.name}">Folder Name</span>
					</div>
				</a>
			</div>

			<div class="poster-grid">
				<div class="poster" th:each="item: ${items}">
					<div class="poster-image" th:style="'background-image: url(' + @{/images/default.png} + ');'"></div>
					<div class="poster-details">
						<span class="poster-title"  th:text="'🎵 ' + ${item.name}">File Name</span>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
