<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body th:replace="~{layouts/layout :: base('General')}">
		<div th:fragment="content">
			<h2>General Settings</h2>
			<form action="#" th:action="@{/settings/save/schedule}" method="post">

				<div>
					<label for="fixedTime">Fixed Time</label>
					<select id="fixedTime" name="fixedTime" required>
						<option value="">Select a time</option>
						<option th:each="time : ${fixedTime}" th:value="${time}"  th:text="${time}">12:00 AM</option>
					</select>
				</div>

				<div>
					<label for="interval">Interval</label>
					<select id="interval" name="interval" required>
						<option value="">Select an interval</option>
						<option th:each="i : ${interval}" th:value="${i}" th:text="${i}">5 minutes</option>
					</select>
				</div>

				<button type="submit">Save</button>
			</form>

			<form action="#" th:action="@{/settings/save/priority}" method="post">
				<ul id="priority-list">
					<li th:each="service : ${services}" class="ui-state-default">
						<span th:text="${service}">Service Name</span>
						<input type="hidden" name="services" th:value="${service}" />
					</li>
				</ul>
				<button type="submit">Save</button>
			</form>

		</div>
		<div th:replace="fragments/jquery :: jquery-script"></div>
	</body>
</html>