<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body th:replace="~{layouts/layout :: base('General')}">
		<div th:fragment="content">
			<h2>General Settings</h2>

			<form th:action="@{/settings/save/priority}" method="post">
				<ul id="sortable">
					<li class="ui-state-default" th:each="service : ${services}">
						<input type="checkbox" name="enabled" th:value="${service}" checked="checked" />
						<span th:text="${service}">Service Name</span>
						<input type="hidden" name="order" th:value="${service}" />
					</li>
					<li class="ui-state-default" th:each="service : ${servicesDisabled}">
						<input type="checkbox" name="enabled" th:value="${service}" />
						<span th:text="${service}">Service Name</span>
						<input type="hidden" name="order" th:value="${service}" />
					</li>
				</ul>
				<button type="submit">Save</button>
			</form>

			<th:block th:replace="~{fragments/jquery :: sortable}"></th:block>

		</div>
	</body>
</html>