<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body th:replace="layouts/layout :: base('Search Indexes')">
		<div th:fragment="content">
			<h2>Search Indexes</h2>

			<div class="grid">
				<div class="card"  onclick="toggleDialogWindow()">
					Prowlarr
				</div>
			</div>


			<div id="dialog" class="dialog hide">
				<form th:action="@{/settings/indexes/save}">
					<div class="form-header">

					</div>

					<div class="form-body">
						<label for="name">Name</label>
						<input id="name" name="name" />
					</div>

					<div class="form-footer">
						<button type="button" onclick="toggleDialogWindow()">Cancel</button>
						<button type="submit">Save</button>
					</div>
				</form>
			</div>

		</div>
	</body>
</html>
